*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}
.login-sign a{
    padding: 90px 130px 90px 150px;
}
.link-s{
    text-decoration: none;
    color: white;
}
.link-l{
    text-decoration: none;
    color: rgb(11, 8, 8);
}
.link-a{
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: black;
}
.link-b{
    font-weight: 600;
    text-decoration: none;
    color: rgb(11, 8, 8);
}
.iphone{
    margin-right: 10px;
}
.create{
    margin-bottom: -30px;
}
.create .text-nch{
    display: inline-block;
}
.phone{
    padding: 40px;
}
.pages{
    display: flex;
    justify-content: end;
    margin-top: -65px;
    margin-right: 30px;
    
}
.pages p a{
    padding: 10px 10px 10px 10px;
}
.button-p{
    margin-top: 20px;
    font-size: 15px;
}
.card{
    display: flex;
}

/* card */



